<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table" th:fragment="rolesTable">
    <thead class="thead-light">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Наименование роли</th>
        <th:block th:if="${#httpServletRequest.requestURI != '/roles' }">
        <th scope="col" th:if="${#authorization.expression('hasAuthority(''admin'')')}">
            <a th:href="@{/admin/showUserRoleForm(id=${id})}">
                Добавить роль</a></th>
        </th:block>
    </tr>
    </thead>

    <tbody>
    <th:block th:each="role,iterationStatus : ${listroles}">
        <tr>
            <th scope="row" th:text="${iterationStatus.count}">#</th>
            <td th:text="${role.name}">name</td>
            <th:block th:if="${#httpServletRequest.requestURI != '/roles' }">
            <td th:if="${#authorization.expression('hasAuthority(''admin'')')}"></td>
            </th:block>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>