<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table" th:fragment="usersTable">
    <thead class="thead-light">
    <tr>
        <th scope="col">#</th>
        <th scope="col">ФИО сотрудника</th>
        <th scope="col">email</th>
        <th scope="col">Логин</th>
        <th scope="col">Telegram</th>
        <th scope="col">Роли</th>
    </tr>
    </thead>

    <tbody>
    <th:block th:each="user,iterationStatus  : ${listusers}">
        <tr>
            <th scope="row" th:text="${iterationStatus.count}">#</th>
            <td th:text="${user.fio}">fio</td>
            <td th:text="${user.email}">email</td>
            <td th:text="${user.login}">login</td>
            <td th:text="${user.telegramChatId}">telegram</td>
            <td><a th:href="@{/showroles(id=${user.idUser})}">Показать роли </a></td>
        </tr>
    </th:block>
    </tbody>
</table>

</body>
</html>