<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table" th:fragment="processTableView">
    <thead class="thead-light">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Тип процесса</th>
        <th scope="col">Название</th>
        <th scope="col">Описание процесса</th>
        <th scope="col">Дата начала</th>
        <th scope="col">Планируемая дата конца?</th>
        <th scope="col">Фактическая дата окончания?</th>
        <th scope="col">Статус процесса</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="process: ${processList}">
        <th scope="row" th:text="${process.id}">#</th>
        <td th:text="${process.process_type_name}">Тип процесса</td>
        <td th:text="${process.name}">Название</td>
        <td th:text="${process.description}">Описание процесса</td>
        <td th:text="${process.date_start}">Дата начала</td>
        <td th:text="${process.date_end_planning}">Планируемая дата конца?</td>
        <td th:text="${process.date_end_fact}">Фактическая дата окончания?</td>
        <td th:text="${process.status_name}">Статус процесса</td>
    </tr>
    </tbody>
</table>

</body>
</html>