<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table" th:fragment="processTypeTableView">
    <thead class="thead-light">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Описание</th>
        <th scope="col">Время на исполнение</th>
        <th:block th:if="${#httpServletRequest.requestURI != '/roles' }">
            <th scope="col" th:if="${#authorization.expression('hasAuthority(''admin'')')}">
                Детали </th>
        </th:block>
    </tr>
    </thead>
    <tbody>
    <tr th:each="processType,iterationStatus: ${processTypeList}">
        <th scope="row" th:text="${iterationStatus.count}">#</th>
        <td th:text="${processType.name}">Название</td>
        <td th:text="${processType.description}">Описание процесса</td>
        <td th:text="${processType.timeToDo}">Статус процесса</td>
        <th:block th:if="${#httpServletRequest.requestURI != '/roles' }">
            <td th:if="${#authorization.expression('hasAuthority(''admin'')')}">
                <a th:href="@{/getFilteredProcessStages(id=${processType.idProcessType})}">
                    Перейти </a>
            </td>
        </th:block>
    </tr>
    </tbody>
</table>
</body>
</html>